@model LaptopShop2.Models.TbProduct

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Thêm sản phẩm</h5>
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group mb-3">
                                <label asp-for="ProductName" class="control-label form-label">Tên sản phẩm</label>
                                <input asp-for="ProductName" class="form-control" />
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Description" class="control-label form-label">Mô tả</label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Detail" class="control-label form-label">Bài viết giới thiệu</label>
                                <textarea asp-for="Detail" class="form-control"> </textarea>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Image" class="control-label form-label form-label form-label">Hình ảnh sản phẩm</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-success m-1 form-label" onclick="openDialog('file_input')">Chọn hình ảnh</button>
                                    </div>
                                    <!-- /btn-group -->
                                    <input type="text" class="form-control " id="file_input" asp-for="Image" aria-describedby="button-addon2">
                                </div>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>

                            <div class="form-group  mb-3">
                                <label asp-for="CreatedDate" class="control-label form-label">Ngày tạo</label>
                                <input asp-for="CreatedDate" class="form-control" />
                                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Price" class="control-label form-label">Giá bán</label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Discount" class="control-label form-label">Tỷ lệ giảm giá</label>
                                <input asp-for="Discount" class="form-control" />
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="Quantity" class="control-label form-label">Số lượng</label>
                                <input asp-for="Quantity" class="form-control" />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="CategoryProductId" class="control-label form-label">Danh mục</label>
                                <input type="text" asp-for="CategoryProductId" name="categoryInput" id="categoryInput" list="Category" class="form-control" />
                                <datalist id="Category">
                                    @foreach (var item in (IEnumerable<SelectListItem>)ViewData["CategoryProductId"])
                                    {
                                        <option value="@item.Text"></option>
                                    }
                                </datalist>
                            </div>

                            <div class="form-group mb-3">
                                <label asp-for="BrandId" class="control-label form-label">Thương hiệu</label>
                                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                            </div>

                            <div class="form-group mb-3 form-check form-switch bottom-0 fw-semibold">
                                <input class="form-check-input" type="checkbox" asp-for="IsNew" />Sản phẩm mới
                            </div>

                            <div class="form-group mb-3 form-check form-switch bottom-0 fw-semibold">
                                <input class="form-check-input" type="checkbox" asp-for="IsBestSell" />Bán chạy
                            </div>

                            <div class="form-group mb-3 form-check form-switch bottom-0 fw-semibold">
                                <input class="form-check-input" type="checkbox" asp-for="IsActive" />Hiển thị
                            </div>

                            <div class="form-group">
                                <h5 class="card-title fw-semibold">Thông tin sản phẩm</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="Code" class="control-label form-label">Mã sản phẩm</label>
                                        <input asp-for="Code" class="form-control" />
                                        <span asp-validation-for="Code" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="Origin" class="control-label form-label">Xuất xứ</label>
                                        <input asp-for="Origin" class="form-control" />
                                        <span asp-validation-for="Origin" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <h5 class="card-title fw-semibold">Thiết kế & Trọng lượng</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="Size" class="control-label form-label">Kích thước</label>
                                        <input asp-for="Size" class="form-control" />
                                        <span asp-validation-for="Size" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="Weight" class="control-label form-label">Trọng lượng sản phẩm</label>
                                        <input asp-for="Weight" class="form-control" />
                                        <span asp-validation-for="Weight" class="text-danger"></span>
                                    </div>
                                   
                                    <div class="form-group mb-3">
                                        <label asp-for="Color" class="control-label form-label">Màu sắc</label>
                                        <input asp-for="Color" class="form-control" />
                                        <span asp-validation-for="Color" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="Material" class="control-label form-label">Chất liệu</label>
                                        <input asp-for="Material" class="form-control" />
                                        <span asp-validation-for="Material" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <h5 class="card-title fw-semibold">CPU</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="CpuCompany" class="control-label form-label">Hãng CPU</label>
                                        <input asp-for="CpuCompany" class="form-control" />
                                        <span asp-validation-for="CpuCompany" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <label asp-for="CpuType" class="control-label form-label">Loại CPU</label>
                                        <input asp-for="CpuType" class="form-control" />
                                        <span asp-validation-for="CpuType" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="CpuSpeed" class="control-label form-label">Tốc độ CPU</label>
                                        <input asp-for="CpuSpeed" class="form-control" />
                                        <span asp-validation-for="CpuSpeed" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="CpuMaxSpeed" class="control-label form-label">Tốc độ tối đa</label>
                                        <input asp-for="CpuMaxSpeed" class="form-control" />
                                        <span asp-validation-for="CpuMaxSpeed" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="CpuCore" class="control-label form-label">Số nhân</label>
                                        <input asp-for="CpuCore" class="form-control" />
                                        <span asp-validation-for="CpuCore" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="CpuProcessor" class="control-label form-label">Số luồng</label>
                                        <input asp-for="CpuProcessor" class="form-control" />
                                        <span asp-validation-for="CpuProcessor" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <h5 class="card-title fw-semibold">RAM</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="RamSize" class="control-label form-label">Dung lượng RAM</label>
                                        <input asp-for="RamSize" class="form-control" />
                                        <span asp-validation-for="RamSize" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for=" RamType" class="control-label form-label">Loại RAM</label>
                                        <input asp-for=" RamType" class="form-control" />
                                        <span asp-validation-for=" RamType" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for=" RamSpeed" class="control-label form-label">Tốc độ RAM</label>
                                        <input asp-for=" RamSpeed" class="form-control" />
                                        <span asp-validation-for="RamSpeed" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="RamSupportMax" class="control-label form-label">Hỗ trợ RAM tối đa</label>
                                        <input asp-for="RamSupportMax" class="form-control" />
                                        <span asp-validation-for="RamSupportMax" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="card-title fw-semibold">Màn hình</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="ScreenSize" class="control-label form-label">Kích thước màn hình</label>
                                        <input asp-for="ScreenSize" class="form-control" />
                                        <span asp-validation-for="ScreenSize" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <label asp-for=" ScreenPixel" class="control-label form-label">Độ phân giải</label>
                                        <input asp-for=" ScreenPixel" class="form-control" />
                                        <span asp-validation-for=" ScreenPixel" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <label asp-for="ScreenPanel" class="control-label form-label">Tấm nền</label>
                                        <input asp-for="ScreenPanel" class="form-control" />
                                        <span asp-validation-for="ScreenPanel" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="card-title fw-semibold">Đồ họa</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="CardBrand" class="control-label form-label">Hãng</label>
                                        <input asp-for="CardBrand" class="form-control" />
                                        <span asp-validation-for="CardBrand" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="CardModel" class="control-label form-label">Model</label>
                                        <input asp-for="CardModel" class="form-control" />
                                        <span asp-validation-for="CardModel" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="card-title fw-semibold">Ổ cứng</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="DriveType" class="control-label form-label">Loại ổ cứng</label>
                                        <input asp-for="DriveType" class="form-control" />
                                        <span asp-validation-for="DriveType" class="text-danger"></span>
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <label asp-for="DriveMemory" class="control-label form-label">Dung lượng</label>
                                        <input asp-for="DriveMemory" class="form-control" />
                                        <span asp-validation-for="DriveMemory" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="card-title fw-semibold">Giao tiếp & kết nối</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="ConnectPort" class="control-label form-label">Cổng giao tiếp</label>
                                        <input asp-for="ConnectPort" class="form-control" />
                                        <span asp-validation-for="ConnectPort" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Wifi" class="control-label form-label">Wifi</label>
                                        <input asp-for="Wifi" class="form-control" />
                                        <span asp-validation-for="Wifi" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Bluetooth" class="control-label form-label">Bluetooth</label>
                                        <input asp-for="Bluetooth" class="form-control" />
                                        <span asp-validation-for="Bluetooth" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Webcam" class="control-label form-label">Webcam</label>
                                        <input asp-for="Webcam" class="form-control" />
                                        <span asp-validation-for="Webcam" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="card-title fw-semibold">Pin</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="PinType" class="control-label form-label">Loại Pin</label>
                                        <input asp-for="PinType" class="form-control" />
                                        <span asp-validation-for="PinType" class="text-danger"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label asp-for="PinCapacity" class="control-label form-label">Dung lượng Pin</label>
                                        <input asp-for="PinCapacity" class="form-control" />
                                        <span asp-validation-for="PinCapacity" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="card-title fw-semibold">Hệ điều hành</h5>
                                <div class="card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="Os" class="control-label form-label">Hệ sinh thái</label>
                                        <input asp-for="Os" class="form-control" />
                                        <span asp-validation-for="  Os" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Version" class="control-label form-label">Phiên bản</label>
                                        <input asp-for="Version" class="form-control" />
                                        <span asp-validation-for="Version" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group mb-3">
                                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

@{
    var summerNote = new LaptopShop2.Areas.Admin.Models.SummerNote("#Detail");
}
<partial name="_SummerNote" model="summerNote" />



                    